.button{ 
    width: 312px;
    height: 60px;
    background: #175C54 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font: Bold 20px/17px Gotham;
    letter-spacing: 0.7px;
    color: #FFFFFF;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
    margin-top: 10px;
}
